In [1]:
import numpy as np
import pandas as pd

In [11]:
empDataFrame=pd.read_excel("employees.xlsx")
#read from excel

In [12]:
empDataFrame

  Unnamed: 0  Salary   Age Department
0        Pam     600  26.0      Sales
1        Jim     900  30.0      Sales
2       Toby     600   NaN  Human Res
3       Erin     300  24.0        NaN
4     Angela     600   NaN    Finance
5     Dwight     800  33.0      Sales
6       Andy     700  35.0        NaN

In [13]:
nonEmptyDF=empDataFrame.dropna()

In [14]:
nonEmptyDF

  Unnamed: 0  Salary   Age Department
0        Pam     600  26.0      Sales
1        Jim     900  30.0      Sales
5     Dwight     800  33.0      Sales

In [15]:
nonEmptyDF.to_excel("non_empty_emp.xlsx")
#write to excel

In [16]:
# csv format --> read_csv - to_csv